[submodule "lib/catkin_simple"]
	path = lib/catkin_simple
	url = https://github.com/catkin/catkin_simple.git
[submodule "lib/eigen_catkin"]
	path = lib/eigen_catkin
	url = https://github.com/ethz-asl/eigen_catkin.git
[submodule "lib/glog_catkin"]
	path = lib/glog_catkin
	url = https://github.com/ethz-asl/glog_catkin.git
[submodule "lib/console_bridge"]
	path = lib/console_bridge
	url = https://github.com/ros/console_bridge.git
[submodule "lib/control_toolbox"]
	path = lib/control_toolbox
	url = https://github.com/ros-controls/control_toolbox.git
[submodule "mbzirc_gazebo"]
	path = mbzirc_gazebo
	url = https://github.com/emapall/mbzirc_gazebo.git
[submodule "lib/geographic_info"]
	path = lib/geographic_info
	url = https://github.com/ros-geographic-info/geographic_info.git
[submodule "lib/unique_identifier"]
	path = lib/unique_identifier
	url = https://github.com/ros-geographic-info/unique_identifier.git
